body{
    
font-size:90px;
font-family:Bell MT;
margin-left:0px;
letter-spacing:2px;
color:yellow;
    
background-color: black


    

        
    } 



#strange {

    font-size: 40px;
    font-family: arial;
    margin-left: 860px;
    color:aquamarine


    

}

   #see {
        
    color:darkblue;
    margin-left: 860px;
    }

#gif
{
margin-left: 130px;    
    
}