body{
    
font-size:20px;
font-family:Bell MT;
margin-left:0px;
letter-spacing:2px;
color:dodgerblue;
    



    

        
    } 



#clean {

    font-size: 60px;
    font-family: arial;
    margin-left: 860px;
    color:aquamarine


    

}

   #see {
        
    color:darkblue;
    margin-left: 860px;
    }