body{
    
font-size:80px;
font-family:Ayuthaya;
margin-left:0px;
letter-spacing:60px;
color:#b2749e;


    

        
    } 

#love {
    
font-size:120px;
font-family:Arial Black;
letter-spacing: 80;
}

    